### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS code ###
.vscode

# Log file
*.log

### gradle ###
**/.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
